<% include header %>

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome To The League of Ordinary Gentlemen Baseball Database</h1>
        <p class="lead">Check relevant player stats from previous seasons, as well as projections for the upcoming 2019 season!</p>
        <hr>
        <p>Stats downloaded from Rotowire</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Check Stats</a>
      </div>
</div>

<% include footer %>