<% include ./partials/header %>

<div class="container">
    <div class="row">
      <h3>Search the Hitting Projections according to league relevant statistics:</h3>
      <div>
        <form action="/search/batting" method="GET">
          <div class="form-group">
            <label>Strikeouts >=
                <input class="form-control" type="text" name="K" placeholder="Strikeouts">
            </label>
          </div>
          <div class="form-group">
            <label>
              Holds >=
              <input class="form-control" type="text" name="HLD" placeholder="Holds">
            </label>
          </div>
          <div class="form-group">
            <label>
              Saves >=
              <input class="form-control" type="text" name="SV" placeholder="Saves">
            </label>
          </div>
          <div class="form-group">
            <label>
              WHIP <=
              <input class="form-control" type="text" name="WHIP" placeholder="WHIP">
            </label>
          </div>
          <div class="form-group">
            <label>
              ERA <=
              <input class="form-control" type="text" name="ERA" placeholder="ERA">
            </label>
          </div>
          <div class="form-group">
            <label>
              Quality Starts >=
              <input class="form-control" type="text" name="QS" placeholder="Quality Starts">
            </label>
          </div>
          <div class="form-group">
            <button class="btn btn-large btn-primary btn-block">Search!</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<% include ./partials/footer %>