<% include ../partials/header %>

<div class="container">
    <h5>Search Pitching Projections for 2019</h5>
    <p>Please fill out all fields. If you don't want to account for a stat, put a 0 if it is 'greater than', or a very large number for 'less than'.</p>
  <div class="row">
    <div>
      <form action="/search/pitching" method="POST">
        <div class="form-group">
          <label>Strikeouts >=
              <input class="form-control" type="text" name="strikeouts" placeholder="Strikeouts">
          </label>
        </div>
        <div class="form-group">
          <label>
            Holds >=
            <input class="form-control" type="text" name="holds" placeholder="Holds">
          </label>
        </div>
        <div class="form-group">
          <label>
            Saves >=
            <input class="form-control" type="text" name="saves" placeholder="Saves">
          </label>
        </div>
        <div class="form-group">
          <label>
            WHIP <=
            <input class="form-control" type="text" name="whip" placeholder="WHIP">
          </label>
        </div>
        <div class="form-group">
          <label>
            ERA <=
            <input class="form-control" type="text" name="era" placeholder="ERA">
          </label>
        </div>
        <div class="form-group">
          <label>
            Quality Starts >=
            <input class="form-control" type="text" name="qs" placeholder="Quality Starts">
          </label>
        </div>
        <div class="form-group">
          <button class="btn btn-large btn-primary btn-block">Search!</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>