<% include ./partials/header %>

<div class="container">
  <h1 class="mb-3">2018 Pitching Stats</h1>

  <table id="pitching2018" class="table table-sm table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Player</th>
        <th>Team</th>
        <th>Games</th>
        <th>GS</th>
        <th>QS</th>
        <th>IP</th>
        <th>K</th>
        <th>HLD</th>
        <th>SV</th>
        <th>ERA</th>
        <th>WHIP</th>
      </tr>
    </thead>
    <tbody>
      <h1>This page is still under construction</h1>
    </tbody>
  </table>
</div>

<% include ./partials/footer %>